/* src/index.css (ou seu CSS global) */

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
  background-color: #050507; /* Cor de fundo escura da ATOM */
}

#root {
  max-width: 100%; /* Isso anula o limite padrão do Vite */
  width: 100%;
  margin: 0;
  padding: 0;
}